<section class="section-contacts">
   <div class="container">
       <ul class="contacts-list">
    <li class="contacts-card">
   <h3 class="contacts-tittle">CAFE</h3>
        <div class="contacts-location">
            <h4>Chicago</h4>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="contacts-worktime">
            <li class="worktime-list">
                <p class="contacts-day">Monday - Friday</p>
                <p class="contacts-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="worktime-list week">
                <p class="contacts-day">Saturday - Sunday</p>
                <p class="contacts-time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
            
            <div class="contacts-info">
                <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
            </div>
            
        </li>
        <li class="contacts-card">
            <h3 class="contacts-tittle food">FOOD TRUCK</h3>
                 <div class="contacts-location">
                     <h4>Los Angeles</h4>
                     <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                 </div>
                 <ul class="contacts-worktime">
                     <li class="worktime-list">
                         <p class="contacts-day">Monday - Friday</p>
                         <p class="contacts-time">06:00 AM - 10:00 PM</p>
                     </li>
                     <li class="worktime-list week">
                         <p class="contacts-day">Saturday - Sunday</p>
                         <p class="contacts-time">08:00 AM - 16:00 PM</p>
                     </li>
                 </ul> 
                     <div class="contacts-info">
                         <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
                     </div> 
                 </li>
                 <li class="contacts-card">
                    <h3 class="contacts-tittle">CAFE</h3>
                         <div class="contacts-location">
                             <h4>New York</h4>
                             <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                         </div>
                         <ul class="contacts-worktime">
                             <li class="worktime-list">
                                 <p class="contacts-day">Monday - Friday</p>
                                 <p class="contacts-time">06:00 AM - 10:00 PM</p>
                             </li>
                             <li class="worktime-list week">
                                 <p class="contacts-day">Saturday - Sunday</p>
                                 <p class="contacts-time">08:00 AM - 16:00 PM</p>
                             </li>
                         </ul>
                             <div class="contacts-info">
                                 <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
                             </div>
</li>
</ul>
</div> 
</section>
        
 
        






<!-- <li class="contacts-card">
    <h3>FOOD TRUCK</h3>
    <p>Los Angeles</p>
    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <p>Monday - Friday</p>
    <p>06:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p>08:00 AM - 16:00 PM</p>
    <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
</li>
   <li class="contacts-card">
       <h3>CAFE</h3>
       <p>New York</p>
       <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
       <p>Monday - Friday</p>
       <p>06:00 AM - 10:00 PM</p>
       <p>Saturday - Sunday</p>
       <p>08:00 AM - 16:00 PM</p>
       <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
    </li> -->
