<section class="gallery"> 
        <picture>
            <source media="(min-width: 1200px)" srcset="./images/desctop/contacts.png 1x, ./images/desctop/contacts@2x.png 2x">
            <source media="(min-width: 768px)" srcset="./images/tablet/contacts.png 1x, ./images/tablet/contacts@2x.png 2x">
            <img class="gallery-img" src="./images/mobile/contacts.png" alt="Gallery Ice Cream" srcset="./images/mobile/contacts.png 1x, ./images/mobile/contacts@2x.png 2x">
        </picture>
</section> 
<section class="feedback">
    <h2 class="visually-hidden">Feedback</h2>
    <div class="container">
        <ul>
            <li class="feedbac-card">
                <img class="feedback-img" srcset="./images/desctop/person1.png 1x, ./images/desctop/person1@2x.png 2x" src="./images/desctop/person1.png" alt="Emily, Los Angeles">
                    <p class="feedback-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="feedback-name">Emily, Los Angeles</p>
            </li>
            <li class="feedbac-card">
                <img class="feedback-img" srcset="./images/desctop/person2.png 1x, ./images/desctop/person2@2x.png 2x" src="./images/desctop/person2.png" alt="Bonnie, Los Angeles" >
                <p class="feedback-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="feedback-name">Bonnie, Los Angeles</p>
            </li>
            <li class="feedbac-card">
                <img class="feedback-img" srcset="./images/desctop/person3.png 1x, ./images/desctop/person3@2x.png 2x" src="./images/desctop/person3.png" alt="Donna, Los Angeles">
                <p class="feedback-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="feedback-name">Donna, Los Angeles</p>
            </li>
        </ul>
    </div>
</section>