 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
 <body>
  <footer>
    <div class="footer">
        <div class="tagline">
            <h3>homemade ice cream <span class="tagline-part-1-tablet">made</span></h3>
            <h2>with <br> passion</h2>
        </div>
        <div>
        <div class="footer-social-icons">
            <ul class="icon-box">
              <li class="icon-item">
                <a class="icon-link" href="">
                  <svg class="social-icon" width="32px" height="32px">
                    <use href="./images/sprite-icons.svg#github"></use>
                  </svg>
                </a>
              </li>
              <li class="icon-item">
                <a class="icon-link" href="">
                  <svg class="social-icon" width="32px" height="32px">
                    <use href="./images/sprite-icons.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="icon-item">
                <a class="icon-link" href="">
                  <svg class="social-icon" width="32px" height="32px">
                    <use href="./images/sprite-icons.svg#facebook"></use>
                  </svg>
                </a>
              </li>
             
            </ul>
        </div>

        <div class="contact">
          <p class="contact-text">Feel free to contact<span class="cell-footer"> +61 (0) 383 766 284</span></p>
        </div>
        
        <p class="copyright"> © 2019 - IceCream.<br>All Rights Reserved. </p>
    </div>
</footer>
 </body>
 </html>
