<header class="header">
    <div class="container">
        <div class="nav-hero section">
            <nav class="nav">

                <!-- Лого -->
                <a class="logo" href="./index.html">
                    <img src="./images/desctop/logo.png" srcset="./images/desctop/logo@2x.png 2x" alt="ICECREAM logo" width="199" height="50">
                </a>
                
                <!-- Навигация -->
                <div class="menu-container" id="menu-container" data-menu>
            
                    <ul class="nav-menu list">
                        <li class="list-item"><a class="is-current" href="./index.html">Home</a></li>
                        <li class="list-item"><a href="#about-us">About us</a></li>
                        <li class="list-item"><a href="#how-its-made">How it's made?</a></li>
                        <li class="list-item"><a href="#our-products">Our products</a></li>
                        <li class="list-item"><a href="#contact">Contact</a></li>
                    </ul>
                </div>

                <!-- Кнопка бургер-меню -->
                <button class="menu-button" type="button" data-menu-button>
                    <svg class="icons" width="20" height="14" aria-label="Переключатель мобильного меню" aria-expanded="false"
                        aria-controls="menu-container">
                        <use class="icon-close" href="./images/sprite-icons.svg#close"></use>
                        <use class="icon-menu" href="./images/sprite-icons.svg#burger"></use>
                    </svg>
                </button>
            </nav>

            <!-- Кнопка героя -->
            <button class="hero-button button" type="button">Buy now ></button>
            
        </div>
        

    </div>
</header>