<!-- hero -->

<section class="hero">
<div class="container">
<div class="header-perm"></div>
<h1 class="hero-title">
ice cream <br> made with <br> <span class="title-part">passion</span> 
</h1> 
<div class="circle">
    <img class="hero-img" src="../src/images/mobile/header_ice_cream.png" alt="ice cream">
</div>
<div class="btn">
    <a class="hero-btn" href="#">Products</a>
    <a class="hero-btn second" href="#">How it’s made?</a>
</div>
<p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button class="btn-arrow">
<!-- href="./images/arrow-right.png" -->
</button>
<ul >
    <li class="list-item">
        <p class="hero-figures">16</p>
        <p class="hero-text">cafes</p>
    </li>
    <li class="list-item">
        <p class="hero-figures">23</p>
        <p class="hero-text">food trucks</p>
    </li>
</ul>
</div>
</section>