<!-- hero -->
<Section class="hero">
<div>
<h1 class="hero-title">
ice cream <br> made with <br> <span class="title-part">passion</span> 
</h1> 
<a class="hero-btn" href="#">Products</a>
<a class="hero-btn" href="#">How it’s made?</a>
<p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button class="btn-arrow">
<!-- href="./images/arrow-right.png" -->
</button>
<ul>
    <li>
        <p class="hero-figures">16</p>
        <p class="hero-text">cafes</p>
    </li>
    <li>
        <p class="hero-figures">23</p>
        <p class="hero-text">food trucks</p>
    </li>
</ul>
</div>
</Section>