
        <section class="how-its-made">
            <div class="container">
                <p class="title-first">Tradition and love</p>
                <h2 class="title-second">How it’s made?</h2>
                <div class="title-image">
                    <img class="main-image" src="./images/desctop/cow_and_milk.png" srcset="./images/desctop/cow_and_milk@2x.png 2x"
                        alt="cow and milk" width="280" height="279">
                </div>
                <div class="milk">
                    <!-- <img class="image" src="./images/mobile/background_milk.png" srcset="./images/mobile/background_milk@2x.png 2x" alt="milk"> -->
                <p class="text-first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
                    eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="text-second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <p class="text-second pic">Aliquam erat volutpat. Aenean accumsan.</p>
                </p>
                    
                <button class="btn" type="button">Read more ></button>
            </div>
                <div class="cards">
                    <ul>
                <li><img class="item-pic" src="./images/desctop/icon1.png" srcset="./images/desctop/icon1@2x.png 2x" alt="glass with milk" max-width="33px" height="50px">
                    <p class="number">721</p>
                    <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
                </ul>
            </div>
                <div class="cards">
                    <ul>
                <li><img class="item-pic" src="./images/desctop/icon2.png" srcset="./images/desctop/icon2@2x.png 2x" alt="apples" max-width="50px" height="50px">
                    <p class="number">16kg</p>
                    <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
                </ul>
                </div>
                <div class="cards">
                    <ul>
                <li><img class="item-pic" src="./images/desctop/icon3.png" srcset="./images/desctop/icon3@2x.png 2x" alt="heart" max-width="44px" height="50px">
                    <p class="number">84</p>
                    <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
                    </ul>
                </div>
                </div>
                </section>
    
   