<section class="product"> 
    <div class="container">
    <h2 class="product-title"> <span class="title-normal">100% natural</span> <br> <span class="title-bold">products</span> </h2>
    <ul class="product-list">
        
        <li class="item">
            <div class="item-background">
            <picture class="product-photo">
                <source srcset="
                                    ../src/images/desctop/product_1.png   335w ,
                                    ../src/images/desctop/product_1@2x.png 670w 
                                  " media="(min-width:1200px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
                <source srcset="
                                    ../src/images/tablet/product_1.png    220w,
                                    ../src/images/tablet/product_1@2x.png 440w
                                  " media="(min-width:768px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
                <source srcset="
                                    ../src/images/mobile/product_1.png    249w,
                                    ../src/images/mobile/product_1@2x.png 498w
                                  " media="(max-width:767px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
            
                <img src="../src/images/desctop/product_1.png" alt="ice cream" />
            </picture>
            <h3 class="product-name">ice cream</h3>
            <ul class="dots-list">
                <li class="dot"><svg width="6" height="6">
                    <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                </svg></li>
                <li class="dot" ><svg width="6" height="6">
                    <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                </svg></li>
                <li class="dot"><svg width="6" height="6">
                    <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                </svg></li>
            </ul>
            
               
            <!-- <svg  width="26" ><use href="./images/sprite-icons.svg#circle3"></use></svg> -->
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>    
            <button class="arrow"> <img src="../src/images/arrow-right.png" alt=""></button>   
        </div>
        </li>
        
        <li class="item">
            <div class="item-background">
            <picture class="product-photo">
                <source srcset="
                                    ../src/images/desctop/product_2.png   335w ,
                                    ../src/images/desctop/product_2@2x.png 670w 
                                  " media="(min-width:1200px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
                <source srcset="
                                    ../src/images/tablet/product_2.png    220w,
                                    ../src/images/tablet/product_2@2x.png 440w
                                  " media="(min-width:768px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
                <source srcset="
                                    ../src/images/mobile/product_2.png    249w,
                                    ../src/images/mobile/product_2@2x.png 498w
                                  " media="(max-width:767px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
            
                <img src="../src/images/desctop/product_2.png" alt="ice coffee" />
            </picture>
            <h3 class="product-name">ice coffee</h3>
            <ul class="dots-list">
                <li class="dot"><svg width="6" height="6">
                        <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                    </svg></li>
                <li class="dot"><svg width="6" height="6">
                        <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                    </svg></li>
                <li class="dot"><svg width="6" height="6">
                        <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                    </svg></li>
            </ul>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="arrow"> <img src="../src/images/arrow-right.png" alt=""></button>
            </div>
        </li>
        <li class="item">
            <div class="item-background">
            <picture class="product-photo">
                <source srcset="
                                    ../src/images/desctop/product_3.png   335w ,
                                    ../src/images/desctop/product_3@2x.png 670w 
                                  " media="(min-width:1200px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
                <source srcset="
                                    ../src/images/tablet/product_3.png    220w,
                                    ../src/images/tablet/product_3@2x.png 440w
                                  " media="(min-width:768px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
                <source srcset="
                                    ../src/images/mobile/product_3.png    249w,
                                    ../src/images/mobile/product_3@2x.png 498w
                                  " media="(max-width:767px)" sizes="(min-width: 1200px) 335px, (min-width: 768px) 220px, 249px"
                    type="image/png">
            
                <img src="../src/images/desctop/product_3.png" alt="milkshakes" />
                </picture>
            <h3 class="product-name">milkshakes</h3>
            <ul class="dots-list">
                <li class="dot"><svg width="6" height="6">
                        <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                    </svg></li>
                <li class="dot"><svg width="6" height="6">
                        <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                    </svg></li>
                <li class="dot"><svg width="6" height="6">
                        <use class="icon-close" href="./images/sprite-icons.svg#circle1"></use>
                    </svg></li>
            </ul>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="arrow"> <img src="../src/images/arrow-right.png" alt=""></button>
            </div>
        </li>
    </ul>
    </div>
</section>