.section-contacts {
  background: $bgr-light;
  @media screen and(min-width:1200px) {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(..//images/desctop/background_contacts.png);
    @media screen and(min-resolution: 192dpi),
      screen and(min-resolution:2dppx) {
      background-image: url(..//images/desctop/background_contacts@2x.png);
    }
  }
}

.contacts-list {
  margin-bottom: 54px;
  position: relative;
  bottom: 90px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 81px;
    bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 86px;
    bottom: 100px;
  }
}
.contacts-tittle {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  display: inline-block;
  letter-spacing: 0.04em;
  color: $primary-white-color;
  background-color: $bgr-beige-color;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  margin: 0px;

  @media screen and(min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.food {
  background-color: $bgr-green-color;
}
.contacts-card {
  width: 220px;
  min-height: 427px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 24px;
  background: $primary-white-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  @media screen and(min-width: 768px) {
    height: 544px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 44px;
    margin: 0px;
  }
  @media screen and(min-width: 1200px) {
    width: 330px;
    height: 572px;
    padding-top: 51px;
    padding-bottom: 62px;
    padding-left: 43px;
    padding-right: 44px;
  }

  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.contacts-card:not(:last-child) {
  margin-bottom: 20px;
  @media screen and(min-width:768px) {
    margin-bottom: 0px;
  }
}
.contacts-location {
  margin-top: 25px;
  position: relative;
  @media screen and(min-width:768px) {
    margin-top: 30px;
  }
  @media screen and(min-width:1200px) {
    margin-top: 32px;
  }

  & h4 {
    display: inline-block;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: $txt-dark-color;
    margin: 0px;
    margin-bottom: 10px;
    @media screen and(min-width:768px) {
      margin-bottom: 14px;
      font-size: 14px;
    }
    @media screen and(min-width:1200px) {
      font-size: 16px;
      line-height: 1.86;
      margin-bottom: 10px;
    }
  }

  & p {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $txt-light-color;
    margin-top: 0px;
    margin-bottom: 50px;

    @media screen and(min-width:768px) {
      margin-bottom: 50px;
      font-size: 14px;
      line-height: 1.66;
    }
    @media screen and(min-width:1200px) {
      font-size: 16px;
      line-height: 1.83;
    }
  }
}

.contacts-day {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $txt-dark-color;
  margin-top: 0px;
  margin-bottom: 2px;

  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
  }
}

.contacts-time {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $txt-primary-color;
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
  }
}
.last {
  margin-bottom: 10px;
  @media screen and(min-width:768px) {
    margin-bottom: 16px;
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 15px;
  }
}

.contacts-location::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  bottom: -25px;
}

.contacts-info {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.contacts-info::before {
  content: '';
  position: relative;
  width: 100%;
  height: 0px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  bottom: 25px;
}
.contacts-info .link {
  margin: 0px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $txt-light-color;

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.83;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
  }
}
.contacts-info .link:last-child {
  padding: 0px;
}
.contacts-button {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 90px;

  @media screen and(min-width:768px) {
    flex-direction: row;
    justify-content: center;
    bottom: 80px;
  }
  @media screen and(min-width:1200px) {
    bottom: 100px;
  }
}
.button-location {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 161px;
  min-height: 44px;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: none;
  border-radius: 22px;
  background: #d41342;
  color: $primary-white-color;

  @media screen and(min-width:768px) {
    margin: 0px;
    margin-right: 14.5px;
  }
}

.button-franchise {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 161px;
  min-height: 44px;
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 22px;
  background-color: $primary-white-color;
  color: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width:768px) {
    margin: 0px;
  }
}
.button-franchise:hover,
.button-franchise:focus {
  background-color: #ecebeb;
}
.contacts-iconw {
  margin-left: 8px;
}
