.feedback {
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-bottom: 119px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 130px;
  }
}

.gallery {
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    margin-bottom: 121px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 125px;
  }
}

.gallery-img {
  min-width: 100%;
}
