$primary-white-color: #ffffff;
$accent-color: #d41443;

$btn-hover-color-light: #ecebeb;
$btn-hover-color: #c7133e;

$bgr-light: #fff5f6;
$bgr-primary-color: #ffb8ca;
$bgr-beige-color: #f0d1a5;
$bgr-green-color: #c2e297;
$bgr-menu-color: #e17992;
$bgr-comment-color: #fafafa;

$txt-primary-color: #ffa5ba;
$txt-dark-color: #000000;
$txt-light-color: #907e82;

$primary-font: 'DM Sans', sans-serif;
$accent-font: 'Titan One', sans-serif;
